<!DOCTYPE html>
<html lang="en-us">
       <head>
              <meta charset="utf-8" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <title>Obligatory To-Do List</title>
              <link rel="stylesheet" href="/CSS/style.css" />
              <link rel="stylesheet" href="/CSS/header.css" />
              <link rel="stylesheet" href="/CSS/emptyScreen.css" />
              <link rel="stylesheet" href="/CSS/taskScreen.css" />
              <link rel="stylesheet" href="/CSS/detailsScreen.css" />
              <link rel="stylesheet" href="/CSS/effects.css" />
              <link rel="stylesheet" href="/CSS/createPopUp.css" />
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       </head>
       <body>
              <form class="createForm">
                     <div class="createPopUp">
                            <h2 class="createHeading">Create a new Task</h2>
                            <div class="createBody">
                                   <div class="inputRow">
                                          <label for="titleInput">Task Title*: </label>
                                          <input type="text" id="titleInput" name="title" placeholder="Title..." required/>
                                   </div>

                                   <div class="inputRow">
                                          <label for="descInput">Description*: </label>
                                          <textarea id="descInput" name="desc" placeholder="Description..." required></textarea>
                                   </div>

                                   <div class="inputRow">
                                          <label for="deadlineInput">Deadline*: </label>
                                          <input type="date" name="deadline" id="deadlineInput" required/>
                                   </div>

                                   <div class="buttons">
                                          <input type="submit" value="Submit" name="sibmit" id="submitButton" />
                                          <button type="button" id="cancel">Cancel</button>
                                   </div>
                            </div>
                     </div> 
              </form>
              <header>
                     <h1>To-do List</h1>
                     <button class="create"><i class="fa fa-plus"></i>Create</button>
                     <div class="closeTask"><i class="fa fa-arrow-right"></i></div>
              </header>
              <section class="taskBody">
                     <div class="empty">
                            <img src="/Assests/emptyIcon.svg" alt="Empty Icon" />
                            No tasks yet
                     </div>
                     <div class="taskList">
                            <div class="decorLine"></div>
                     </div>
                     <div class="taskDetails">
                            <div class="taskTitle">
                                   <span>Title:</span>
                                   <div class="text"></div>
                            </div>
                            <div class="taskDesc">
                                   <span>Description:</span>
                                   <div class="text"></div>
                            </div>
                            <div class="deadline">
                                   <span>Deadline:</span>
                                   <div class="text"></div>
                            </div>
                     </div>
              </section>
              <script src="/Scripts/script.js" type="module"></script>
       </body>
</html>
