/* --------------------CREATE POP UP-------------------- */

.createPopUp {
       left: 50%;
       top: 50%;

       grid-template-rows: 15% 85%;
       grid-template-columns: auto;

       width: 700px;
       height: 600px;
       border-radius: 20px;
       z-index: 6;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.3), -2px -2px 5px rgba(0,0,0,0.3);

       pointer-events: none;
       opacity: 0;
       transform: scale(0) translate(-50%, -50%);
       transform-origin: 0 0;
       transition: 0.5s;

       font-family: 'Courier New', Courier, monospace;

}

.createPopUp.active {
       pointer-events: all;
       opacity: 1;
       transform: scale(1) translate(-50%, -50%);
}

/* --------------------CREATE HEADING-------------------- */

.createHeading {
       align-items: center;
       border-bottom: 2px solid var(--primaryColor);
       margin: 0;
       font-size: 30px;
}

/* --------------------CREATE BODY-------------------- */

.createBody {
       flex-flow: column nowrap;
       padding: 20px;
}

.createBody .inputRow {
       font-size: 18px;
       margin-bottom: 30px;
       position: relative;
}

/* --------------------FORM INPUTS-------------------- */

.createBody label {top: 2px;}

.inputRow > input, .inputRow > textarea {margin-left: 200px;}

.createBody textarea {
       height: 100px;
       resize: none;
}

/* --------------------FORM BUTTONS-------------------- */

.createBody .buttons {
       grid-template-columns: auto auto;
       grid-template-rows: auto;
       grid-gap: 50px;
       width: 200px;
       margin: auto 20px 20px 20px;
}

#submitButton {
       padding: 7px 7px;
       border: 2px solid var(--primaryColor);
}

#submitButton:hover {
       background: var(--primaryColor);
       color: white;
}

#cancel {
       border: none;
       color: red;
}

#cancel:hover {background: rgb(200, 200, 200);}

/* --------------------COMMON-------------------- */

.createPopUp, .createBody label {position: absolute;}

.createPopUp, .createBody .buttons {display: grid;}

.createPopUp, #submitButton, #cancel {background: white;}

.createHeading, .createBody {display: flex;}

.createHeading, label[for="descInput"] {justify-content: center;}

.createHeading, #submitButton {color: var(--primaryColor);}

.createBody label, #submitButton {font-weight: bold;}

.createBody input[type=text], .createBody textarea, .createBody input[type=date] {
       width: calc(100% - 240px);
       border: 2px solid var(--checkedColor);
       padding: 10px 5px;
       border-radius: 15px;
       outline: none;
       font-size: 15px;
       transition: border 0.4s;
}

.createBody input[type=text]:focus, .createBody textarea:focus, .createBody input[type=date]:focus {border-color: var(--primaryColor);}

#submitButton, #cancel {
       border-radius: 8px;
       transition: 0.4s;
       cursor: pointer;
}