.fadeIn {
       will-change: opacity;
       animation: fadeInAnim var(--animationDuration) ease-in-out forwards;
}

@keyframes fadeInAnim {
       0% {opacity: 0;}
       100% {opacity: 1;}
}

.fadeOut {
       will-change: opacity;
       animation: fadeOutAnim var(--animationDuration) ease-in-out forwards;
}

@keyframes fadeOutAnim {
       0% {opacity: 1;}
       100% {opacity: 0;}
}

.background {
       pointer-events: none;
       filter: blur(var(--blurValue));
}