
:root {
       --primaryColor: rgb(52, 78, 206);
       --secondaryColor: rgb(36, 157, 255);
       --headerHeight: 80px;
       --screenTransitionTime: 0.7s;
       --leftIndent: 11%;
       --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       --checkedColor: rgb(150, 150, 150);
}

body {
       margin: 0;
       overflow: hidden;
}

.messagePopUp {
       position: absolute;
       left: 50%;
       transform: translate(-50%, -100%);

       padding: 8px 15px;
       background: white;
       color: var(--primaryColor);
       font-weight: bold;
       border-radius: 15px;
       border: 2px solid var(--primaryColor);
       z-index: 7;

       transition: transform 0.2s ease-in;
}

.messagePopUp.active {
       transform: translate(-50%, 15%);
}

.taskBody .taskList .decorLine {
       background: var(--primaryColor);
       height: 1000px;
       width: 3px;
       position: fixed;
       left: var(--leftIndent);
}

.taskBody > :not(.active) {
       visibility: hidden;
       opacity: 0;
       height: 0;
       pointer-events: none;
}
