
:root {
       --primaryColor: rgb(52, 78, 206);
       --secondaryColor: rgb(36, 157, 255);
       --headerHeight: 80px;
       --screenTransitionTime: 0.7s;
       --leftIndent: 11%;
       --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       --checkedColor: rgb(150, 150, 150);
}

body {
       margin: 0;
       overflow: hidden;
}

.messagePopUp {
       position: absolute;
       left: 50%;
       transform: translate(-50%, -100%);

       padding: 8px 15px;
       background: white;
       color: var(--primaryColor);
       font-weight: bold;
       border-radius: 15px;
       border: 2px solid var(--primaryColor);
       z-index: 7;

       transition: transform 0.2s ease-in;
}

.messagePopUp.active {
       transform: translate(-50%, 15%);
}

.confirmBox {
       position: absolute;
       left: 50%;
       top: 50%;

       transform: scale(0) translate(-50%, -50%);
       transform-origin: 0 0;
       transition: transform 0.4s, opacity 0.4s;
       opacity: 0;

       display: grid;
       grid-template-rows: auto auto;
       grid-gap: 30px;
       padding: 20px 25px 20px 25px;
       font-size: 17px;

       background: white;
       border-radius: 15px;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.3), -2px -2px 5px rgba(0,0,0,0.3);
}

.confirmBox.active {
       opacity: 1;
       transform: scale(1) translate(-50%, -50%);
}

.confirmBox .buttons {
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto;
       grid-gap: 50px;
       width: 200px;
}

.confirmBox .confirmButton {
       padding: 7px 7px;
       border: 2px solid var(--primaryColor);
       color: var(--primaryColor);
}

.confirmBox .confirmButton:hover {
       background: var(--primaryColor);
       color: white;
}

.confirmBox .cancel {
       border: none;
       color: red;
}

.confirmBox .cancel:hover {background: rgb(200, 200, 200);}
 
.confirmBox .confirmButton, .confirmBox .cancel {
       border-radius: 8px;
       transition: 0.4s;
       cursor: pointer;
       background: white;
}

.taskBody .taskList .decorLine {
       background: var(--primaryColor);
       height: 1000px;
       width: 3px;
       position: fixed;
       left: var(--leftIndent);
}

.taskBody > :not(.active) {
       visibility: hidden;
       opacity: 0;
       height: 0;
       pointer-events: none;
}
